.about {
  &__content {
    max-width: 210ch;
    &--block {
      padding: 2rem 3rem;
    }
    &--text {
      font-size: 2rem;
    }
  }
  &__highlited {
    text-transform: uppercase;
    color: $color-white;
  }
}
