.section__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 5rem 15rem 5rem;
  color: $color-white;
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  @include respond(tab-port) {
    -webkit-clip-path: none;
    clip-path: none;
  }
}
.section__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
