@import '../abstracts/variables';

.header {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100vh;
  color: $color-white;
  &__particles {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__social--wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: moveInRight 3s forwards ease-in;
  }
  &__resume {
    &:link,
    &:visited {
      text-decoration: none;
      color: rgb(82, 136, 252);
      text-transform: uppercase;
      font-size: 2.4rem;
    }
    &:hover,
    &:active {
      color: rgb(82, 136, 252);
    }
  }
  &__loader{
    display: flex;
    flex-direction: column;
  }
}
